.button {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s linear;
}

.primary {
  color: #ffffff;
  background-color: #7653fc;
}

.primary:hover {
  background-color: #4011fa;
}

.ghost {
  color: #3b434e;
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
}

.ghost:hover {
  color: #ffffff;
  background-color: #7653fc;
}

.arrow {
  margin-left: 10px;
}
